@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url("img/home.jpg");
    background-size: cover;
}
header{
    width: 100%;
    height: 60px;
    border: 1px solid white;
    border-radius: 15px;
}
.nav-bar{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
h1{
    padding-top: 5px;
    color: white;
}
.nav-menu ul{
    display: flex;
    transform: translateY(7px);
    gap: 30px;
}
li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: white;
    transition: 0.6s;
    border: 1px solid white;
    padding:5px;
    border-radius: 10px;
} 
 li a:hover{
    border-bottom: 2px solid white;
    transition: 0.6s;
    background-color: white;
    color: #000000;
}
/* form */
h2{
    text-align: center;
    margin: 10px;
}
.login{
    box-shadow: 8px 6px 10px  #000000;
    color: white;
    width: 40%;
    height: 100%;
    transform: translateX(70%);
    margin-top: 50px;
    border: 1px solid white;
    border-radius: 10px;
    backdrop-filter: blur(30px);
   
}
form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
input{
    border: none;
   height: 30px;
   border-radius: 6px;
}
button{
    border: none;
    font-size: 30px;
    background-color: #0c0077;
    color: white;
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
    transition: 0.6s;
    border: 1px solid white;
}
button:hover{
    color:  #0c0077;
    background-color: aliceblue;
    transition: 0.6s;
}
.box1{
   display:flex;
   gap: 10px;
   align-items: center;
  justify-content: center;
}
.box1 a{
    color: black;
   font-size: 15px;
}
.reg{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.reg a{
    color: #000000;
}